In [ ]:
!pip install openpyxl

## 套件

In [1]:
import pandas as pd

In [2]:
price_data = pd.read_csv('price-data.txt',  encoding='cp950')
ifrs_data = pd.read_csv('ifrs-data.txt',  encoding='cp950')

# 查看資料

In [3]:
price_data.head()

   證券代碼           簡稱 TSE新產業_名稱       年月日    報酬率％  市值(百萬元)
0  1216  統一             食品工業    20140102  0.5587   278327
1  2882   國泰金          金融業      20140102  1.7617   587479
2  2013   中鋼構           鋼鐵工業    20140102 -0.5682     7000
3  2303  聯電            半導體      20140102 -0.4049   156142
4  2412   中華電            通信網路業  20140102 -0.3222   719890

In [4]:
ifrs_data.head()

,公司,簡稱,年/月,營業費用,ROA－綜合損益,ROE－綜合損益,營業利益率,總資產週轉次數,自由現金流量(D),財務槓桿度,股利殖利率,Tobins Q
0,1216,統一,201403,27839541,1.57,4.17,4.83,1.14,5843957,-,3.96,1.06
1,2882,國泰金,201403,12806236,0.24,3.92,-,-,-,-,4.50,0.10
2,2013,中鋼構,201403,106589,0.36,1.14,1.56,1.23,56352,-,4.42,0.79
3,2303,聯電,201403,5016196,1.75,2.44,2.97,0.42,-2241282,-,3.83,0.71
4,2412,中華電,201403,8123107,2.29,2.74,21.61,0.50,-1405484,-,4.83,1.64

In [5]:
ifrs_data.columns

Index(['公司', '簡稱', '年/月', '營業費用', 'ROA－綜合損益', 'ROE－綜合損益', '營業利益率', '總資產週轉次數',
       '自由現金流量(D)', '財務槓桿度', '股利殖利率', 'Tobins Q'],
      dtype='object')

# 1. 改欄位名稱

In [6]:
# 中文欄位與英文簡稱的對應字典
variable_dict = {
    "證券代碼": "code",
    "簡稱":"name",
    'TSE新產業_名稱': 'ind',
    '報酬率％': 'ret',
    '年月日': 'date',
    '報酬率％': 'ret',
    '市值(百萬元)': 'size',

    "公司":  "code",
    '年/月' : "year_month",
    '營業費用': 'op_exp',
    'ROA－綜合損益': 'ROA',
    'ROE－綜合損益': 'ROE',
    '營業利益率': 'op_pm',
    '總資產週轉次數': 'AT',
    '自由現金流量(D)': 'FCF',
    '財務槓桿度': 'Lev',
    '股利殖利率': 'DY',
    'Tobins Q': 'TQ',
}

print(variable_dict)

{'證券代碼': 'code', '簡稱': 'name', 'TSE新產業_名稱': 'ind', '報酬率％': 'ret', '年月日': 'date', '市值(百萬元)': 'size', '公司': 'code', '年/月': 'year_month', '營業費用': 'op_exp', 'ROA－綜合損益': 'ROA', 'ROE－綜合損益': 'ROE', '營業利益率': 'op_pm', '總資產週轉次數': 'AT', '自由現金流量(D)': 'FCF', '財務槓桿度': 'Lev', '股利殖利率': 'DY', 'Tobins Q': 'TQ'}

In [7]:
price_data = price_data.rename(columns=variable_dict)
price_data

       code         name      ind      date     ret    size
0      1216  統一            食品工業    20140102  0.5587  278327
1      2882   國泰金         金融業      20140102  1.7617  587479
2      2013   中鋼構          鋼鐵工業    20140102 -0.5682    7000
3      2303  聯電           半導體      20140102 -0.4049  156142
4      2412   中華電           通信網路業  20140102 -0.3222  719890
...     ...          ...      ...       ...     ...     ...
13260  1216  統一            食品工業    20241113  1.0465  493767
13261  2882   國泰金         金融業      20241113 -1.0370  979903
13262  2013   中鋼構          鋼鐵工業    20241113 -0.3774   10560
13263  2303  聯電           半導體      20241113 -0.6508  573771
13264  2412   中華電           通信網路業  20241113  0.8163  958045

[13265 rows x 6 columns]

In [8]:
ifrs_data = ifrs_data.rename(columns=variable_dict)
ifrs_data

,code,name,year_month,op_exp,ROA,ROE,op_pm,AT,FCF,Lev,DY,TQ
0,1216,統一,201403,27839541,1.57,4.17,4.83,1.14,5843957,-,3.96,1.06
1,2882,國泰金,201403,12806236,0.24,3.92,-,-,-,-,4.50,0.10
2,2013,中鋼構,201403,106589,0.36,1.14,1.56,1.23,56352,-,4.42,0.79
3,2303,聯電,201403,5016196,1.75,2.44,2.97,0.42,-2241282,-,3.83,0.71
4,2412,中華電,201403,8123107,2.29,2.74,21.61,0.50,-1405484,-,4.83,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...
209,2412,中華電,202406,17466368,3.79,5.21,21.87,0.41,40480370,-,3.79,1.88
210,1216,統一,202409,136444061,4.78,16.52,5.76,0.97,41477263,-,3.44,0.94
211,2013,中鋼構,202409,263662,2.13,5.88,3.52,1.28,394219,-,3.48,1.00
212,2303,聯電,202409,18617665,8.06,12.55,23.07,0.40,15532056,-,5.58,1.33
213,2412,中華電,202409,26486798,5.66,7.48,21.39,0.42,49125664,-,3.79,1.97

# 2. 資料內容是不是有問題

In [9]:
price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13265 entries, 0 to 13264
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    13265 non-null  int64
 1   name    13265 non-null  object
 2   ind     13265 non-null  object
 3   date    13265 non-null  int64
 4   ret     13265 non-null  float64
 5   size    13265 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 621.9+ KB

In [10]:
ifrs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        214 non-null    int64
 1   name        214 non-null    object
 2   year_month  214 non-null    int64
 3   op_exp      214 non-null    int64
 4   ROA         214 non-null    float64
 5   ROE         214 non-null    float64
 6   op_pm       214 non-null    object
 7   AT          214 non-null    object
 8   FCF         214 non-null    object
 9   Lev         214 non-null    object
 10  DY          214 non-null    float64
 11  TQ          214 non-null    float64
dtypes: float64(4), int64(3), object(5)
memory usage: 20.2+ KB

In [11]:
price_data.values[1]

array([2882, '國泰金       ', '金融業    ', 20140102, 1.7617, 587479],
      dtype=object)

In [12]:
ifrs_data.values[1]

array([2882, '國泰金       ', 201403, 12806236, 0.24, 3.92, '           -',
       '           -', '           -', '           -', 4.5, 0.1],
      dtype=object)

### 處理資料

In [13]:
def convertFloat(value):
    try:
        return float(value)
    except:
        return None

In [14]:
ifrs_data["op_pm"] = ifrs_data["op_pm"].apply(convertFloat)
ifrs_data["AT"] = ifrs_data["AT"].apply(convertFloat)
ifrs_data["FCF"] = ifrs_data["FCF"].apply(convertFloat)
ifrs_data["Lev"] = ifrs_data["Lev"].apply(convertFloat)

### 處理字串資料

In [15]:
# 價格資料
price_data["name"] = price_data["name"].apply(lambda x: x.strip())
price_data["ind"] = price_data["ind"].apply(lambda x: x.strip())

# 財報資料
ifrs_data["name"] = ifrs_data["name"].apply(lambda x: x.strip())

In [16]:
price_data.values[1]

array([2882, '國泰金', '金融業', 20140102, 1.7617, 587479], dtype=object)

In [17]:
ifrs_data.values[1]

array([2882, '國泰金', 201403, 12806236, 0.24, 3.92, nan, nan, nan, nan, 4.5,
       0.1], dtype=object)

# 3. 合併高低頻率資料

配合低頻資料產生可以對應的時間欄位

In [18]:
def dateToDateYearMonth(date_value):
    return int(str(date_value)[:6])

In [19]:
dateToDateYearMonth(20170304)

201703

In [20]:
price_data['year_month'] = price_data['date'].apply(dateToDateYearMonth)

In [21]:
price_data

       code name    ind      date     ret    size  year_month
0      1216   統一   食品工業  20140102  0.5587  278327      201401
1      2882  國泰金    金融業  20140102  1.7617  587479      201401
2      2013  中鋼構   鋼鐵工業  20140102 -0.5682    7000      201401
3      2303   聯電    半導體  20140102 -0.4049  156142      201401
4      2412  中華電  通信網路業  20140102 -0.3222  719890      201401
...     ...  ...    ...       ...     ...     ...         ...
13260  1216   統一   食品工業  20241113  1.0465  493767      202411
13261  2882  國泰金    金融業  20241113 -1.0370  979903      202411
13262  2013  中鋼構   鋼鐵工業  20241113 -0.3774   10560      202411
13263  2303   聯電    半導體  20241113 -0.6508  573771      202411
13264  2412  中華電  通信網路業  20241113  0.8163  958045      202411

[13265 rows x 7 columns]

# 聊一下合併資料

In [22]:
student_data = pd.DataFrame([
    {'student_name': "John Cena", 'student_no': 1},
    {'student_name': "Mary", 'student_no': 2},
    {'student_name': "Bob", 'student_no': 3},
    {'student_name': "Patrick", 'student_no': 4},
    {'student_name': "Hank", 'student_no': 5}]
)

student_course_data = pd.DataFrame([
    {'course_name': "微積分", 'student_no': 2},
    {'course_name': "微積分", 'student_no': 5},
    {'course_name': "時間序列", 'student_no': 3},
    {'course_name': "時間序列", 'student_no': 4},
    {'course_name': "時間序列", 'student_no': 5},
    {'course_name': "程式設計", 'student_no': 6},
])

#### 合併的4方法

1. left

In [23]:
student_data.merge(student_course_data, on='student_no', how='left')

  student_name  student_no course_name
0    John Cena           1         NaN
1         Mary           2         微積分
2          Bob           3        時間序列
3      Patrick           4        時間序列
4         Hank           5         微積分
5         Hank           5        時間序列

2. right

In [24]:
student_data.merge(student_course_data, on='student_no', how='right')

  student_name  student_no course_name
0         Mary           2         微積分
1         Hank           5         微積分
2          Bob           3        時間序列
3      Patrick           4        時間序列
4         Hank           5        時間序列
5          NaN           6        程式設計

3. inner

In [25]:
student_data.merge(student_course_data, on='student_no', how='inner')

  student_name  student_no course_name
0         Mary           2         微積分
1          Bob           3        時間序列
2      Patrick           4        時間序列
3         Hank           5         微積分
4         Hank           5        時間序列

4. outer

In [26]:
student_data.merge(student_course_data, on='student_no', how='outer')

  student_name  student_no course_name
0    John Cena           1         NaN
1         Mary           2         微積分
2          Bob           3        時間序列
3      Patrick           4        時間序列
4         Hank           5         微積分
5         Hank           5        時間序列
6          NaN           6        程式設計

### price data merge ifrs data

In [27]:
price_data

       code name    ind      date     ret    size  year_month
0      1216   統一   食品工業  20140102  0.5587  278327      201401
1      2882  國泰金    金融業  20140102  1.7617  587479      201401
2      2013  中鋼構   鋼鐵工業  20140102 -0.5682    7000      201401
3      2303   聯電    半導體  20140102 -0.4049  156142      201401
4      2412  中華電  通信網路業  20140102 -0.3222  719890      201401
...     ...  ...    ...       ...     ...     ...         ...
13260  1216   統一   食品工業  20241113  1.0465  493767      202411
13261  2882  國泰金    金融業  20241113 -1.0370  979903      202411
13262  2013  中鋼構   鋼鐵工業  20241113 -0.3774   10560      202411
13263  2303   聯電    半導體  20241113 -0.6508  573771      202411
13264  2412  中華電  通信網路業  20241113  0.8163  958045      202411

[13265 rows x 7 columns]

In [28]:
merge_data = price_data.merge(ifrs_data, 
                              on=['code', 'name', 'year_month'], 
                              how='outer')

In [29]:
merge_data

,code,name,ind,date,ret,size,year_month,op_exp,ROA,ROE,op_pm,AT,FCF,Lev,DY,TQ
0,1216,統一,食品工業,20140102,0.5587,278327,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1216,統一,食品工業,20140103,-0.9259,275750,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1216,統一,食品工業,20140106,0.0000,275750,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1216,統一,食品工業,20140107,-0.1869,275235,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1216,統一,食品工業,20140108,-0.3745,274204,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13260,2882,國泰金,金融業,20241107,1.0130,1023911,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13261,2882,國泰金,金融業,20241108,-0.4298,1019510,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13262,2882,國泰金,金融業,20241111,-1.1511,1007775,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13263,2882,國泰金,金融業,20241112,-1.7467,990172,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13264,2882,國泰金,金融業,20241113,-1.0370,979903,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
## 再根據時間排序一下

merge_data = merge_data.sort_values(by=['year_month', 'date'])
merge_data

,code,name,ind,date,ret,size,year_month,op_exp,ROA,ROE,op_pm,AT,FCF,Lev,DY,TQ
0,1216,統一,食品工業,20140102,0.5587,278327,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2653,2013,中鋼構,鋼鐵工業,20140102,-0.5682,7000,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5306,2303,聯電,半導體,20140102,-0.4049,156142,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7959,2412,中華電,通信網路業,20140102,-0.3222,719890,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10612,2882,國泰金,金融業,20140102,1.7617,587479,201401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2652,1216,統一,食品工業,20241113,1.0465,493767,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5305,2013,中鋼構,鋼鐵工業,20241113,-0.3774,10560,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7958,2303,聯電,半導體,20241113,-0.6508,573771,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10611,2412,中華電,通信網路業,20241113,0.8163,958045,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13264,2882,國泰金,金融業,20241113,-1.0370,979903,202411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 匯出成excel資料

In [31]:
merge_data.to_excel("merge_data.xlsx")

# 遺漏值處理

In [32]:
merge_data["op_exp"] = merge_data.groupby('code')["op_exp"].transform(lambda x: x.ffill())
merge_data["ROA"] = merge_data.groupby('code')["ROA"].transform(lambda x: x.ffill())
merge_data["ROE"] = merge_data.groupby('code')["ROE"].transform(lambda x: x.ffill())
merge_data["op_pm"] = merge_data.groupby('code')["op_pm"].transform(lambda x: x.ffill())
merge_data["AT"] = merge_data.groupby('code')["AT"].transform(lambda x: x.ffill())
merge_data["FCF"] = merge_data.groupby('code')["FCF"].transform(lambda x: x.ffill())
merge_data["Lev"] = merge_data.groupby('code')["Lev"].transform(lambda x: x.ffill())
merge_data["DY"] = merge_data.groupby('code')["DY"].transform(lambda x: x.ffill())
merge_data["TQ"] = merge_data.groupby('code')["TQ"].transform(lambda x: x.ffill())

In [33]:
merge_data.to_excel("merge_data_fill_na.xlsx", index=False)