
# 執行 cell：
   * Shfit + Enter 執行該 cell 且跳下一個 cell 
   * Ctrl + Enter 執行該 cell (但停在該 cell)
   
# 如果想要做註解：
   *  單行  -> #　　　快捷鍵「Ctrl + /」
   *  多行  -> """  """

In [1]:
a = 123
b = 456
c = 78.9

In [2]:
a

123

In [3]:
## a 的值跑不出來？
a
b

456

In [4]:
print(a)
print(b)

123
456

In [5]:
print("a => ", a)
print("b => ", b)

a =>  123
b =>  456

# 函式說明：
  * ?FunctionName
  * help(FunctionName)

In [6]:
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [7]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# 數字的 + - * / (加減乘除)

In [8]:
b + c

534.9

In [9]:
a*c

9704.7

In [10]:
d = a - b
b/a

3.707317073170732

# 常見的資料型態

* 數值 number
     - 整數 integer (int)
     - 浮點數 float
* 字串 string (str)
* 邏輯 boolean (bool): True: 1; False: 0
* 容器型態
     - [列表 list](http://www.runoob.com/python/python-lists.html)
     - [元組 tuple](http://www.runoob.com/python/python-tuples.html)
     - [字典 dict](http://www.runoob.com/python/python-dictionary.html)
     - [集合 set](http://www.iplaypython.com/jichu/set.html)
     
### 分成不可變(immutable)與可變(mutable)
* immutable: int, float, str, bool, tuple
* mutable: list, dict, set

# 字串 str

In [11]:
life = "     人生     "
essentials =  "   貓咪   "

In [12]:
type(life)

str

In [13]:
# 去除空白（左右）

life.strip()

'人生'

In [14]:
# 字串加 與 乘

life + essentials

'     人生        貓咪   '

In [15]:
# 字串加減乘除

essentials * 10

'   貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪      貓咪   '

In [16]:
# 數字變字串

a = 10
str(a)

'10'

In [17]:
# 字串轉其他型態
b='30'
print('int   :', int(b))
print('float :', float(b))

int   : 30
float : 30.0

# 資料型態

In [18]:
print(type(1))
print(type(1.0))
print(type("1"))

<class 'int'>
<class 'float'>
<class 'str'>

# 資料型態轉換

In [19]:
data = "1.1"

print("float -> ", float(data)) 
print("int -> ", int(data))

float ->  1.1

ValueError: invalid literal for int() with base 10: '1.1'

In [20]:
data = "a"

print("float -> ", float(data))

ValueError: could not convert string to float: 'a'

# Exception  例外處理

In [21]:
try:
    data = "a"
    print("float -> ", float(data)) 
except:
    print("無法轉換")

無法轉換

# 小實做：黃金分割

In [22]:
# 在作黃金分割時，我們一定要給的資訊
high_point = 32.5
low_point = 30.835

In [23]:
# 邏輯組合
diff = high_point - low_point

level_5 = high_point - 0.236 * diff
level_4 = high_point - 0.382 * diff
level_3 = high_point - 0.5 * diff
level_2 = high_point - 0.618 * diff
level_1 = high_point - 0.786 * diff

In [24]:
# 輸出什麼

print('高點 -> ', high_point)
print('關卡 5 -> ', level_5)
print('關卡 4 -> ', level_4)
print('關卡 3 -> ', level_3)
print('關卡 2 -> ', level_2)
print('關卡 1 -> ', level_1)
print('低點 -> ', low_point)

高點 ->  32.5
關卡 5 ->  32.10706
關卡 4 ->  31.863970000000002
關卡 3 ->  31.6675
關卡 2 ->  31.47103
關卡 1 ->  31.19131
低點 ->  30.835

# 自定函式 (Functions)

In [25]:
# def function
def fibonacci(high_point, low_point): 
    # 邏輯組合
    diff = high_point - low_point
    
    level_5 = high_point - 0.236 * diff
    level_4 = high_point - 0.382 * diff
    level_3 = high_point - 0.5 * diff
    level_2 = high_point - 0.618 * diff
    level_1 = high_point - 0.786 * diff
    
    # 輸出什麼
    print('高點 -> ', high_point)
    print('關卡 5 -> ', level_5)
    print('關卡 4 -> ', level_4)
    print('關卡 3 -> ', level_3)
    print('關卡 2 -> ', level_2)
    print('關卡 1 -> ', level_1)
    print('低點 -> ', low_point)

In [26]:
fibonacci(4752.53, 2375.48)

高點 ->  4752.53
關卡 5 ->  4191.5462
關卡 4 ->  3844.4969
關卡 3 ->  3564.005
關卡 2 ->  3283.5131
關卡 1 ->  2884.1687
低點 ->  2375.48

In [27]:
fibonacci(4764, 481)

高點 ->  4764
關卡 5 ->  3753.212
關卡 4 ->  3127.8940000000002
關卡 3 ->  2622.5
關卡 2 ->  2117.106
關卡 1 ->  1397.562
低點 ->  481

### 預設輸入值

In [28]:
def printValue(x = "Nothing input"): 
    print("You input : ", x)
    return x

In [29]:
printValue()

You input :  Nothing input

'Nothing input'

In [30]:
printValue(32423)

You input :  32423

32423

### lambda function

In [31]:
lambdaFunc = lambda x: x**2
lambdaFunc(4)

16

In [32]:
MySum = lambda x, y: x + y
MySum(3,2)

5

# 字典 dict

In [33]:
stock_maplist = {
    '2330': '台積電',
    '2317': "鴻海",
    "2309": "友達"
}

In [34]:
stock_maplist['2330']

'台積電'

In [35]:
stock_maplist.keys()

dict_keys(['2330', '2317', '2309'])

In [36]:
stock_maplist.values()

dict_values(['台積電', '鴻海', '友達'])

# 列表(list) 與 元組 (tuple)

In [37]:
student_names = ["Jam", "Mary", "Bob", "Patrick", "Hank"]
student_names

['Jam', 'Mary', 'Bob', 'Patrick', 'Hank']

In [38]:
student_names[0]

'Jam'

In [39]:
student_names[:3]

['Jam', 'Mary', 'Bob']

In [40]:
student_names[-1]

'Hank'

In [41]:
student_numbers = ("A01", "A02", "A03", "A04", "A05")
student_numbers

('A01', 'A02', 'A03', 'A04', 'A05')

In [42]:
print(student_numbers[0])
print(student_numbers[:3])
print(student_numbers[-1])

A01
('A01', 'A02', 'A03')
A05

差在哪裡？

In [43]:
student_names[0] = 'Alen'
student_names

['Alen', 'Mary', 'Bob', 'Patrick', 'Hank']

In [44]:
student_numbers[0] = 'B01'
student_numbers

TypeError: 'tuple' object does not support item assignment

# 邏輯判斷 - if else

In [45]:
A = 3
B = 2

if A == B:
    print('A = B')
else:
    print('A != B')

A != B

In [46]:
# 巢狀條件判斷 if-elif-else

score = 59
if 80 < score <= 100:
    print("太聰明了")
elif 60 < score <= 80:
    print("有進步的空間")
elif 40 < score <= 60:
    print("看來有很大進步的空間")  
elif score <= 40:
    print("可以打掉重練了")
else:
    print("神一般的等級")

看來有很大進步的空間

# 持續處理 - for 迴圈

In [47]:
# 從 0印出來到 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
student_names = ["Jam", "Mary", "Bob", "Patrick", "John"]
for name in student_names:
    print("班上的學生有：",name)

班上的學生有： Jam
班上的學生有： Mary
班上的學生有： Bob
班上的學生有： Patrick
班上的學生有： John

In [49]:
for idx, name in enumerate(student_names):
    print("班上的學生有：",name,"  ，學號是",idx)

班上的學生有： Jam   ，學號是 0
班上的學生有： Mary   ，學號是 1
班上的學生有： Bob   ，學號是 2
班上的學生有： Patrick   ，學號是 3
班上的學生有： John   ，學號是 4

# break 與 continue

In [50]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [51]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# 套件

如果發生  No module named 'xxx'，如下面所示 :

```
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Cell In[1], line 1
----> 1 import pandas

ModuleNotFoundError: No module named 'pandas'
```

那我們就需要安裝該套件:

```
pip install pandas
```

In [52]:
# 在 jupyter 要記得加上 ! 號
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: pandas in c:\users\jeffg\anaconda3\envs\fin-ins\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jeffg\appdata\roaming\python\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jeffg\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jeffg\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jeffg\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jeffg\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [53]:
import pandas

### 讀取 excel/ csv 檔案

In [54]:
price_data = pandas.read_csv('./price-data.txt', encoding='cp950')

In [55]:
price_data

       證券代碼           簡稱 TSE新產業_名稱       年月日    報酬率％  市值(百萬元)
0      1216  統一             食品工業    20140102  0.5587   278327
1      2882   國泰金          金融業      20140102  1.7617   587479
2      2013   中鋼構           鋼鐵工業    20140102 -0.5682     7000
3      2303  聯電            半導體      20140102 -0.4049   156142
4      2412   中華電            通信網路業  20140102 -0.3222   719890
...     ...          ...       ...       ...     ...      ...
13260  1216  統一             食品工業    20241113  1.0465   493767
13261  2882   國泰金          金融業      20241113 -1.0370   979903
13262  2013   中鋼構           鋼鐵工業    20241113 -0.3774    10560
13263  2303  聯電            半導體      20241113 -0.6508   573771
13264  2412   中華電            通信網路業  20241113  0.8163   958045

[13265 rows x 6 columns]

# 前幾筆資料

In [56]:
price_data.head()

   證券代碼           簡稱 TSE新產業_名稱       年月日    報酬率％  市值(百萬元)
0  1216  統一             食品工業    20140102  0.5587   278327
1  2882   國泰金          金融業      20140102  1.7617   587479
2  2013   中鋼構           鋼鐵工業    20140102 -0.5682     7000
3  2303  聯電            半導體      20140102 -0.4049   156142
4  2412   中華電            通信網路業  20140102 -0.3222   719890

# 資料型態

In [57]:
price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13265 entries, 0 to 13264
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   證券代碼       13265 non-null  int64
 1   簡稱         13265 non-null  object
 2   TSE新產業_名稱  13265 non-null  object
 3   年月日        13265 non-null  int64
 4   報酬率％       13265 non-null  float64
 5   市值(百萬元)    13265 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 621.9+ KB

# 找指定的欄位

In [58]:
price_data["證券代碼"] == 1216

0         True
1        False
2        False
3        False
4        False
         ...
13260     True
13261    False
13262    False
13263    False
13264    False
Name: 證券代碼, Length: 13265, dtype: bool

In [59]:
price_data[price_data["證券代碼"] == 1216]

       證券代碼           簡稱 TSE新產業_名稱       年月日    報酬率％  市值(百萬元)
0      1216  統一             食品工業    20140102  0.5587   278327
5      1216  統一             食品工業    20140103 -0.9259   275750
10     1216  統一             食品工業    20140106  0.0000   275750
15     1216  統一             食品工業    20140107 -0.1869   275235
20     1216  統一             食品工業    20140108 -0.3745   274204
...     ...          ...       ...       ...     ...      ...
13240  1216  統一             食品工業    20241107 -0.5637   501154
13245  1216  統一             食品工業    20241108 -1.0204   496040
13250  1216  統一             食品工業    20241111 -0.3436   494335
13255  1216  統一             食品工業    20241112 -1.1494   488653
13260  1216  統一             食品工業    20241113  1.0465   493767

[2653 rows x 6 columns]

### 找指定產業

In [60]:
# 怎麼沒有東西?
price_data[price_data["TSE新產業_名稱"] == "食品工業"]

Empty DataFrame
Columns: [證券代碼, 簡稱, TSE新產業_名稱, 年月日, 報酬率％, 市值(百萬元)]
Index: []

In [61]:
# 原來是有藏空白

In [62]:
price_data["TSE新產業_名稱"].values

array(['食品工業  ', '金融業    ', '鋼鐵工業  ', ..., '鋼鐵工業  ', '半導體    ', '通信網路業'],
      dtype=object)

In [63]:
# 處理欄位中，每一筆資料

In [64]:
# 新增一個欄位叫做 ind，並將 "TSE新產業_名稱"的字串空白清除

price_data["ind"] = price_data["TSE新產業_名稱"].apply(lambda x: x.strip())

In [65]:
# 多了一個新欄位

price_data

       證券代碼           簡稱 TSE新產業_名稱       年月日    報酬率％  市值(百萬元)    ind
0      1216  統一             食品工業    20140102  0.5587   278327   食品工業
1      2882   國泰金          金融業      20140102  1.7617   587479    金融業
2      2013   中鋼構           鋼鐵工業    20140102 -0.5682     7000   鋼鐵工業
3      2303  聯電            半導體      20140102 -0.4049   156142    半導體
4      2412   中華電            通信網路業  20140102 -0.3222   719890  通信網路業
...     ...          ...       ...       ...     ...      ...    ...
13260  1216  統一             食品工業    20241113  1.0465   493767   食品工業
13261  2882   國泰金          金融業      20241113 -1.0370   979903    金融業
13262  2013   中鋼構           鋼鐵工業    20241113 -0.3774    10560   鋼鐵工業
13263  2303  聯電            半導體      20241113 -0.6508   573771    半導體
13264  2412   中華電            通信網路業  20241113  0.8163   958045  通信網路業

[13265 rows x 7 columns]

In [66]:
# 正常了
price_data[price_data["ind"] == "食品工業"]

       證券代碼           簡稱 TSE新產業_名稱       年月日    報酬率％  市值(百萬元)   ind
0      1216  統一             食品工業    20140102  0.5587   278327  食品工業
5      1216  統一             食品工業    20140103 -0.9259   275750  食品工業
10     1216  統一             食品工業    20140106  0.0000   275750  食品工業
15     1216  統一             食品工業    20140107 -0.1869   275235  食品工業
20     1216  統一             食品工業    20140108 -0.3745   274204  食品工業
...     ...          ...       ...       ...     ...      ...   ...
13240  1216  統一             食品工業    20241107 -0.5637   501154  食品工業
13245  1216  統一             食品工業    20241108 -1.0204   496040  食品工業
13250  1216  統一             食品工業    20241111 -0.3436   494335  食品工業
13255  1216  統一             食品工業    20241112 -1.1494   488653  食品工業
13260  1216  統一             食品工業    20241113  1.0465   493767  食品工業

[2653 rows x 7 columns]